.collections-container {
    display: flex;
}

.collections-list {
    width: 30%;
    border-right: 1px solid #233d4d;
    padding-right: 10px;
}

.collections-list ul {
    list-style: none;
    padding: 0;
}

.collections-list a {
    margin: 0 0 0 10px;
    padding: 3px 0 3px 15px;
    border-left: 1px solid #233d4d;
    text-decoration: none;
    color: #f7f7f7;
    cursor: pointer;
}

.collections-list a:hover {
    color: #cdcdcd;
}

.collection-details {
    width: 70%;
    padding-left: 10px;
}

.pagination {
    margin: 20px;
}

.pagination button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #233d4d;
    background-color: #2e2f30;
    color: #f7f7f7;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination button:hover {
    background-color: #233d4d;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: default;
}

ul {
    margin: 0 20px 5px 0;
    border-top: 1px solid #233d4d;
}

li:first-child {
    padding-top: 5px;
}

li {
    list-style: none;
    color: #f7f7f7;
    font-weight: bold;
}

.remove-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #233d4d;
    background-color: #cd0c3f;
    color: #f7f7f7;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.remove-button:hover {
    background-color: #233d4d;
}

.remove-button:disabled {
    opacity: 0.5;
    cursor: default;
}