@page "/"
@inject NavigationManager Navigation
@using MyLegoCollection.Pages
@using MyLegoCollection.Models

<PageTitle>My LEGO Collection</PageTitle>

<header id="header">
    <nav id="menu">
        <div id="logo">
            <img src="images/logobrick.png" alt="Logo" />
        </div>
        <ul>
            <li>
                <a @onclick="() => SetActiveComponent(ComponentType.Discover)" class="@(activeComponent == ComponentType.Discover ? "active" : "")">
                    Discover new sets
                </a><br/>
            </li>
            <li>
                <a @onclick="() => SetActiveComponent(ComponentType.Search)" class="@(activeComponent == ComponentType.Search ? "active" : "")">
                    Search for sets
                </a><br/>
            </li>
            <li>
                <a @onclick="() => SetActiveComponent(ComponentType.Collection)" class="@(activeComponent == ComponentType.Collection ? "active" : "")">
                    Manage my collections
                </a><br/>
            </li>
        </ul>
    </nav>
</header>

<main id="content">
    @if (activeComponent == ComponentType.Discover)
    {
        <Discover />
    }
    else if (activeComponent == ComponentType.Search)
    {
        <Search />
    }
    else if (activeComponent == ComponentType.Collection)
    {
        <Collections />
    }
</main>

@code {
    private enum ComponentType { Discover, Search, Collection }
    private ComponentType activeComponent = ComponentType.Discover;

    private void SetActiveComponent(ComponentType component)
    {
        activeComponent = component;
    }
}