@page "/"
@inject NavigationManager Navigation
@using MyLegoCollection.Pages

<PageTitle>My LEGO Collection</PageTitle>

<header id="header">
    <nav id="menu">
        <div id="logo">
            <p>Place logo here</p>
        </div>
        <ul>
            <li>
                <button @onclick="() => SetActiveComponent(ComponentType.Discover)">Discover new LEGO sets</button><br/>
            </li>
            <li>
                <button @onclick="() => SetActiveComponent(ComponentType.Search)">Search for LEGO sets</button><br/>
            </li>
            <li>
                <button @onclick="() => SetActiveComponent(ComponentType.Collection)">Manage my LEGO collections</button><br/>
            </li>
        </ul>
    </nav>
</header>

<main id="content">
    @if (activeComponent == ComponentType.Discover)
    {
        <Discover />
    }
    else if (activeComponent == ComponentType.Search)
    {
        <Search />
    }
    else if (activeComponent == ComponentType.Collection)
    {
        <Collections />
    }
</main>

@code {
    private enum ComponentType { None, Discover, Search, Collection }
    private ComponentType activeComponent = ComponentType.None;

    private void SetActiveComponent(ComponentType component)
    {
        activeComponent = component;
    }
}