@page "/"
@inject NavigationManager Navigation

<PageTitle>My LEGO Collection</PageTitle>

<h1>My LEGO Collection</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="GoToLegoSets">Check LEGO collection ></button>

@code {
    private void GoToLegoSets()
    {
        Navigation.NavigateTo("/lego-sets");
    }
}